
<div class="wrappernav">

  <div class="image">
    <img src="../../assets/images/logo.png" alt="logo">
  </div>

  <div class="navbartop">
    <nav class="navbaritemsgrid">

      <div class="mobilemenu">
        <img src="../../assets/images/burger.png" alt="mobile menu">
      </div>

      <ul class="uls">
        <li>
          <a class="navlink" href="#">+ADD</a>
        </li>
        <li>
          <a class="navlink" href="#">MAPS</a>
        </li>
        <li>
          <a class="navlink" href="#">REPORT</a>
        </li>
        <li>
          <a class="navlink" href="#">&#9776;</a>
        </li>
      </ul>

    </nav>
  </div>
</div>
