<div class="wrappersidebar">

  <div class="search">
    <input type="text" class="form-control" placeholder="Search" aria-label="Search">
  </div>

  <div class="menu">
    <button>MENU</button>
  </div>
  <br>
  <div class="driversgrid">
    <span>ALL DRIVERS(1)</span>
    <div class="cardgrid">

      <div class="image">
        <img src="../../assets/images/dev.jpg" alt="">
      </div>

      <div class="dinfogrid">
        <h5>john doe</h5>
        <p>1 job</p>
      </div>

      <div class="dinfogrid">
        <h5>available in</h5>
        <p>19 mins</p>
      </div>

    </div>
  </div>
<br>
<div class="driversgrid">
  <span>ALL JOBS (1)</span>
  <div class="jobgrid">
    <div class="job">
      <p>2244308</p>
    </div>
    <div class="route">
      <h5>en route</h5>
    </div>
    <div class="nyc">
      <p>NYC Warehouse</p>
    </div>
    <div class="person">
      <h5>John Doe</h5>
    </div>
    <div class="due">
      <p>Due 10 days ago</p>
    </div>
    <div class="clock">
      <i class="fa fa-clock-o fa-2x" aria-hidden="true"></i>
    </div>
  </div>
</div>

</div>
