
.wrappersidebar {
  display: grid;
  grid-template-columns: 1fr;

}

.driversgrid {
  background-color: #EEEEEE;
  color: #E06856;
  display: grid;
  padding: 10px;
  border-radius: 3px;
  text-align: center;
}

.cardgrid {
  background-color: white;
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  margin-top: 10px;
  /*grid-auto-rows: */
}

.image {
  /*background-color: green;*/
  align-self: center;
  padding: 5px;
}

img {
  width: 40px;
}

.dinfogrid {
  display: grid;
  align-items: end;
  line-height: 0.1px;
  text-align: left;
}

.dinfogrid > h5 {
  font-size: 90%;
  text-transform: uppercase;
  padding: 5px;
  margin: 0px;
}

.dinfogrid > p {
  font-size: 90%;
  padding: 5px 5px 0px 5px;
  color: gray;
}

.dinfogrid:nth-child(3) {
  color: black;
  padding-right: 5px;
  text-align: right
}


.jobgrid {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
  padding-top: 10px;
}

/*.jobgrid > div:nth-child(1) {*/
.job {
  color: gray;
  text-align: left;
  font-size: 90%;
  padding: 0 0 0 10px;
  margin: 0;
}

.job > p {
  margin: 0;
  padding: 0;
}

/*.jobgrid > div:nth-child(2) {*/
.route {
  color: red;
  text-align: right;
  margin: 0;
}

/*.jobgrid > div:nth-child(2) > h5 {*/
.route > h5 {
  font-size: 90%;
  text-transform: uppercase;
  padding: 0 10px 0 0;
  margin: 0;
}

/*.jobgrid > div:nth-child(3) {*/
.nyc {
  grid-column: 1/3;
  color: #E06856;
  text-align: left;
  font-size: 90%;
  padding: 0 0 0 10px;
  margin: 0;
}

.nyc > p {
  margin: 0;
  padding: 0;
}

/*.jobgrid > div:nth-child(4) {*/
.person {
  grid-column: 1/3;
  color: #76E7BD;
  text-align: left;
  padding: 0 0 0 10px;
  margin: 0;
}

/*.jobgrid > div:nth-child(4) > h5 {*/
.person > h5 {
  font-size: 100%;
  margin: 0;
  padding: 0;
}

/*.jobgrid > div:nth-child(5) {*/
.due {
  color: red;
  text-align: left;
  font-size: 90%;
  font-weight: 600;
  padding: 0 0 5px 10px
}


/*.jobgrid > div:nth-child(6) {*/
.clock {
  color: red;
  text-align: right;
  font-size: 90%;
  font-weight: bold;
  padding: 0 10px 5px 0;
}



.search > input[type=text] {
  border-radius: 3px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  height: 50px;
}

.menu > button {
  font-size: 16px;
  color: #E06856;
  background-color: #EEEEEE;
  border: 0;
  border-radius: 3px;
  padding: 12px 0 12px 0;
  margin-top: 20px;
  width: 100%;
}
